
$font_base: 'Lato', sans-serif;
$font_title: 'Lato', sans-serif;
$font_bold: 'Lato', sans-serif;
$font_caption: 'Lato', sans-serif;
$font_dropcap: 'Lato', sans-serif;


//$bg:#F3F3F3;
$bg:#f2f2f2;
$green-dark: #2e740f;
$green-text: #469624;
$grey-text: #b3b3b3;
$green-btn: #62a618;
$blue-text: #1875f0;

$b-orange: #E83002;
$base-color: #666666;
$s-orange: #F44B02;
$btn-grey: #B3B3B3;

$grid_desktop: 640px;
$grid_desktop_large: 1090px;
$grid_mobile: 100%;

$size_small: 12.32px;

// break tablet
$mntablet: 768px; 
$mdtablet: 990px; 
$mxtablet: 1024px;